{% extends 'base.html.twig' %}

{% block title %}Administration Techno
{% endblock %}

{% block body %}

	<div class="section__title">
		<h2>Liste des technos / langages / outils enregistrées</h2>
		<div>
			<a type="button" href="{{ path('admin_techno_create') }}">Ajouter</a>
		</div>
	</div>
	<div>
		<a type="button" href="{{ path('admin_techno_cat_create') }}">Ajouter une nouvelle catégorie</a>
	</div>

	{% if technoCats is null or technoCats is empty %}
		Aucune techno / langage / outil n'est encore renseignée
	{% else %}
		<ul>
			{% for cat in technoCats %}
				<h3>{{cat.name}}</h3>
				{% for techno in cat.technos %}
					<li>
						<i class="fa-solid fa-code"></i>
						<a href="{{ path('admin_techno_show', { 'id': techno.id }) }}">{{ techno.name}}</a>
					</li>
				{% endfor %}
			{% endfor %}
		</ul>
	{% endif %}

{% endblock %}
