{% extends 'base.html.twig' %}

{% block title %}Administration Projet
{% endblock %}

{% block body %}

	<div class="section__title">
		<h2>Détails du projet
			{{ project.title}}
		</h2>
		<a href="{{ path('admin_project_edit', { 'id': project.id }) }}" type="button">Modifier</a>
	</div>


	<div class="section__item">Titre :
		{{ project.title}}</div>
	<div class="section__item">Description du projet :
		{{ project.description}}</div>
	<div class="section__item">Image :
		{% if project.img is null or project.img is empty %}
			Il n'y a pas d'image fournie pour ce projet
		{% else %}
			{{ project.img}}
		{% endif %}
	</div>
	<div class="section__item">Les technologies / langages / outils utiliser pour réaliser ce projet:
		<ul>
			{% for techno in project.technos %}
				<li>{{ techno.name}}</li>
			{% endfor %}
		</ul>
	</div>


{% endblock %}
