{{ form_start(formView)}}

{{ form_row(formView.title)}}
{{ form_row(formView.society)}}
{{ form_row(formView.description)}}
{{ form_row(formView.starting_date)}}
{{ form_row(formView.ending_date)}}
{{ form_row(formView.technos)}}
<button type="submit">Enregistrer</button>
{{ form_end(formView)}}
