{{ form_start(formView)}}
{{ form_row(formView.title)}}
{{ form_row(formView.description)}}
{{ form_row(formView.img)}}
{{ form_row(formView.technos)}}
<button type="submit">Enregistrer</button>
{{ form_end(formView)}}
