{{ form_start(formView) }}
{{ form_row(formView.name)}}
{{ form_row(formView.logo)}}
{{ form_row(formView.projects)}}
{{ form_row(formView.experiences)}}
<button type="submit">Enregistrer</button>
{{ form_end(formView)}}
