{% extends 'base.html.twig' %}

{% block title %}Développeur Symfony / Node /React
{% endblock %}

{% block body %}
	<main class="containerInfos">
		<div class="sections">

			<section id="presentation" class="presentation">
				<div class="presentation__photo">
					<img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('admin_photo_250x250') }}" alt="photo de Nicolas NEGRIER">
				</div>
				<div class="presentation__infos">
					<h2>Bonjour, Moi c'est Nico!</h2>
					<h2>{{ user.job }}</h2>
					<p>{{ user.description}}</p>
				</div>
			</section>

			<section id="technos" class="technos">
				{% for cat in technoCats %}
					<div class="technos__cat">
						<div class="cat__header">
							<img src="img/logos/web-design.png" alt="">
							<h2>{{ cat.name }}</h2>
						</div>
						<div class="cat__logo">
							{% for techno in cat.technos %}
								<div class="cat__logos__item column">
									<img src="img/logos/html5.svg" alt="logo html 5">
									<p>{{ techno.name }}</p>
								</div>
							{% endfor %}
						</div>
					</div>
				{% endfor %}
			</section>

			<section class="projects ">
				<div class="projects__container">
					<div class="project">
						<h2>Projet(s)</h2>
					</div>
					{% for project in user.projects %}
						<div class="project">
							<div class="project__min">
								<img src="" alt="">
							</div>
							<div class="project__infos">
								<div class="project__description">
									<p>{{ project.description }}</p>
								</div>
								<div class="project__technos">
									{% for techno in project.technos %}
										{{ techno.name }}
									{% endfor %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<!-- Flèches de navigation d'une section -->
				<i id="nav-up" class="fa-solid fa-chevron-up"></i>
				<i id="nav-down" class="fa-solid fa-chevron-down"></i>
			</section>

			<section id="experience" class="experience">
				<h2>Mon expérience</h2>
				<p>Avec un BTS en Informatique de Gestion, mon métier actuel est administrateur réseaux. Cela fait plus de 15 ans que j’évolue aux seins d’un service informatique dont plus de 10 dans l’entreprise actuelle.
																																													Cette partie de ma vie m’a offerte des Soft Skills qui me seront très précieux pour mon nouveau poste de Développeur Web. J’ai essayé de vous donner les plus importants et j’espère ne pas en avoir oublié.</p>
			</section>
			<section id="soft-skill" class="soft-skill">
				<div class="soft-skill__item box column">
					<div class="item__header column">
						<img src="/img/logos/team.png" alt="logo de 3 personnes">
						<h2>Travail en équipe</h2>
					</div>
					<div class="item__main">
						<ul>
							<li>Esprit d'équipe</li>
							<li>Entre-aide</li>
						</ul>
					</div>
				</div>
				<div class="soft-skill__item box column">
					<div class="item__header column">
						<img src="/img/logos/speech-bubble.png" alt="logo de bulle de conversation">
						<h2>Communication</h2>
					</div>
					<div class="item__main">
						<ul>
							<li>Avec les utilisateurs</li>
							<li>Avec la hiérarchie</li>
							<li>Avec l'équipe</li>
						</ul>
					</div>
				</div>
				<div class="soft-skill__item box column">
					<div class="item__header column">
						<img src="/img/logos/mortarboard.png" alt="logo de 3 personnes">
						<h2>Formation</h2>
					</div>
					<div class="item__main">
						<ul>
							<li>Utilisateurs / Collègues</li>
							<li>Veille / Mise à niveau technologies</li>
						</ul>
					</div>
				</div>
				<div class="soft-skill__item box column">
					<div class="item__header column">
						<img src="/img/logos/research.png" alt="logo de bulle de conversation">
						<h2>Recherche</h2>
					</div>
					<div class="item__main">
						<ul>
							<li>Documentations</li>
							<li>Solutions</li>
						</ul>
					</div>
				</div>
				<div class="soft-skill__item box column">
					<div class="item__header column">
						<img src="/img/logos/schedule.png" alt="logo de 3 personnes">
						<h2>Organisation</h2>
					</div>
					<div class="item__main">
						<ul>
							<li>Architecture app</li>
							<li>Gestion temps</li>
						</ul>
					</div>
				</div>
				<div class="soft-skill__item box column">
					<div class="item__header column">
						<img src="/img/logos/puzzle.png" alt="logo de bulle de conversation">
						<h2>Logique</h2>
					</div>
					<div class="item__main">
						<ul>
							<li>Esprit logique</li>
							<li>Résolution de problèmes</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		<!-- Flèches de navigation des sections -->
		<i id="nav-right" class="fa-solid fa-chevron-right"></i>
		<i id="nav-left" class="fa-solid fa-chevron-left"></i>
	</main>
	<footer class="footer">
		<section class="footer__contact">
			<div class="contact__item column">
				<a href="https://www.linkedin.com/in/nicolas-negrier-dijon" target="_blank" class="column">
					<i class="fa-brands fa-linkedin"></i>
				</a>
			</div>
			<div class="contact__item column">
				<a href="https://github.com/NicolasNegrier" target="_blank" class="column">
					<i class="fa-brands fa-github"></i>
				</a>
			</div>
			<div class="contact__item column">
				<a href="mailto:nicolas.negrier@gmail.com" class="column">
					<i class="fa-solid fa-envelope"></i>
				</a>
			</div>
		</section>
	</footer>
{% endblock %}
