{% extends 'base.html.twig' %}

{% block title %}Edition Infos perso
{% endblock %}

{% block body %}
	<h1>Modification des informations personnelles</h1>

	{{ form_start(formView)}}

	<div class="form__infosPerso">
		<div class="form__infoPerso">
			{{ form_label(formView.email)}}
			{{ form_widget(formView.email)}}
		</div>
		<div class="form__infoPerso">
			{{ form_label(formView.name)}}
			{{ form_widget(formView.name)}}
		</div>
		<div class="form__infoPerso">
			{{ form_label(formView.firstname)}}
			{{ form_widget(formView.firstname)}}
		</div>
	</div>

	<div class="form__job">
		{{ form_label(formView.job)}}
		{{ form_widget(formView.job)}}
	</div>

	<div class="form__description">
		{{ form_label(formView.description)}}
		{{ form_widget(formView.description)}}
	</div>

	{{ form_row(formView.imageFile)}}

	<div class="form__valid">
		<button type="submit">Enregistrer les modifications</button>
	</div>

	{{ form_end(formView)}}
{% endblock %}
