{% extends 'base.html.twig' %}

{% block title %}Administration Experiences
{% endblock %}

{% block body %}

	{% if experiences is null or experiences is empty %}
		Aucune experience n'est encore renseignée
	{% else %}
		{% for experience in experiences %}
			<div>{{ experience.title}}</div>
			<div>{{ experience.society}}</div>
			<div>{{ experience.description}}</div>
			<div>{{ experience.startingDate}}</div>
			<div>{{ experience.endingDate}}</div>
			{% for techno in experience.technos %}
				<div>{{ techno.name}}</div>
			{% endfor %}
			<div></div>
		{% endfor %}
	{% endif %}


{% endblock %}
