<div class="adminNav__title"></div>
<div class="adminNav__items">
	<a href="{{ path('admin_index') }}" class="adminNav__item">Informations personnelles</a>
	<a href="{{ path('admin_techno_index') }}" class="adminNav__item">Technologies / Langages / Outils</a>
	<a href="{{ path('admin_experience_index') }}" class="adminNav__item">Expériences</a>
	<a href="{{ path('admin_project_index') }}" class="adminNav__item">Projets</a>
	<a href="{{ path('admin_reseau_index') }}" class="adminNav__item">Les Réseaux Sociaux</a>
</div>
